.App {
  text-align: center;
}

html {
  font-size: 62.5%;
}

.app-header {
  background-image: url(./Images/background-option5.jpg);
  background-repeat: no-repeat;
  max-width: 100vw;
  height: 100vh;
  background-size: cover;
  position: relative;
}

.btn { 
  padding: 15px 40px; 
  font-size: 2rem; 
  text-align: center; 
  cursor: pointer; 
  color: #3099A4; 
  background-color: white;  
  border-radius: 5px;  
  text-decoration: none;
  font-family: Roboto;
  font-weight: bold;
} 
  
.btn:hover { 
  background-color:#69686d;
  color: #fff;
} 

.app-title {
position: absolute;
top: 30%;
left: 40%;
color: white;
}

.app-title h1 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 8rem;
}

.wrapper {
  max-width: 1000px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Roboto;
  font-weight: regular;
  font-size: 2rem;
}

.App ul{
list-style-type: none;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
align-content: center;
}

.desk-data {
  border-radius: 5%;
  width: 40%;
  margin: 10px 10px;
}

.desk-data img {
  margin-top: 50px;
  width: 100%;
  overflow: hidden; 
  height: 200px;
  border-radius: 5px;
  object-fit: scale-down;
}

.cart-icon {
  margin-top: 10px;
  padding: 10px 5px;
  width: 20%;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

.cart-disp p {
  width: 75px;
  height: 65px;
  font-size: 3rem;
  color: white;
  background-color: #000;
  top: 108%;
  left: 52%;
  position: absolute;
  border-radius: 50%;
  padding-top: 25px;
}

.add-cart {
  margin-bottom: 40px;
 padding: 15px 40px; 
  font-size: 1.5rem; 
  text-align: center; 
  cursor: pointer; 
  outline: none; 
  color: #3099A4; 
  background-color: white; 
  border: none; 
  border-radius: 5px; 
  box-shadow: 
  7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
  text-decoration: none;
  font-family: Roboto;
  font-weight: bold;
}

.add-cart:active { 
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
  transform: translateY(4px); 
} 

.add-cart:hover { 
  background-color:#69686d;
  color: #fff;
} 

.go-cart {
  padding: 10px 30px; 
  font-size: 1.5rem; 
  text-align: center; 
  cursor: pointer; 
  outline: none; 
  color: #fff; 
  background-color: #3099A4; 
  border: none; 
  border-radius: 5px;
  text-decoration: none;
  font-family: Roboto;
  font-weight: regular;
}

.go-cart:hover { 
  background-color:#69686d;
  color: #fff;
}     

footer p {
  max-width: 1005;
  background-color: #3099A4;
  padding: 10px 10px;
  margin-bottom: 0;
  margin-top: 10px;
  color: white;
  font-family: Roboto;
  font-weight: regular;
  font-size: 1.5rem;
}

/* Media Queries */

@media screen and (max-width:800px){

  .app-title {
    top: 40%;
    left: 50%;
  }

  .app-title h1 {
    font-size: 4rem;
  }

  .btn {
    font-size: 1.8rem;
    padding: 10px 20px;
  }

  .cart-disp p {
    top: 100%;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 580px) {
  .app-title {
    top: 68%;
    left: 21%;
  }

  .app-title h1 {
    font-size: 3rem;
  }

  .btn {
    font-size: 1.8rem;
    padding: 10px 15px;
  }

  .cart-disp p {
    width: 55px;
    height: 55px;
  }

  .App ul {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }

  .desk-data {
    width: 100%;
  }
}

@media screen and (max-width:460px){
  .cart-disp p {
    width: 45px;
    height: 30px;
    line-height: .5rem;
  }

}